.about_all{
    background: #111;
    padding: 25px;

}

.about_perfil{
    flex:1;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

#img_perfil{
    margin: 10px;
    width: 40%;
    border-radius: 50%;
    border: 2px solid #000;
}

.about_name h1{
    text-align:center;
    font-size:18px;
    color: white;
}

.about_name a{
    text-align:center;
    color: white;
    font-size:14px;
    text-decoration: none;
}

.link a:visited{
    color: #fff;
}

.aboutText p{
    width: 70%;
    text-align:center;
    color: white;
    font-size:17px;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 50px;
}
.aboutText{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#sobre  {
    color:#fff;
    font-size: 30px;
    font-style:italic;
}

#sobre span {
    color: red;
    font-style: italic;
}



.link{
    text-decoration: none;
    color: #fff;
    font-size: 14pt;
}

.container-footer h1 {
    color: #fff;
    font-size: 25px;
}

a:visited{
    color: #fff;
}

@media (min-width: 1100px) {
    .about_all{
        height: 100vh;
    }
    #img_perfil{
        width: 20%;
    }

}