.main-Header{
    background-image: url('https://cdn.pixabay.com/photo/2017/01/25/12/31/bitcoin-2007769_960_720.jpg');
    min-height: 85vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.main-Header-filtro{
    background-color: rgba(0, 0, 0, 0.8) !important;
    width: 100%;
    min-height: 85vh;
    padding: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-title{
   text-align: center;
   color: #fff;
   margin-bottom: 15px;
}
.main-logo{
    width: 100%;
    min-height: 15vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.main-logo img{
    width: 45%;
}

.header-video{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 45px;
}

