.checkout-title{
    text-align: center;
    margin-bottom: 15px;
}

.main-checkout{
    padding: 25px;
    background-color: #222;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    margin-bottom: 20px;
}